/* GALLERY */

.gallery {
    max-width: 1300px;
    margin: 0 auto 10%;
    padding: 0 30px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    grid-gap: 30px;

    .gallery-item {
        position: relative;
        max-height: 300px;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom center;
        }

        p {
            position: absolute;
            bottom: 0;
            margin-bottom: 0;
            left: 0;
            width: 100%;
            padding: 15px;
            background: $grey-overlay;
            color: $light-text;
        }
    }

    @include mq(375px) {
        grid-gap: 15px;
    }
    
}





