// Resets
@charset "utf-8";

// Box Sizing Reset
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

* {
    overflow-wrap: break-word;
}

// Image Reset
img {
    max-width: 100%;
    height: auto;
    display: block;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0;
}
 